@use '../../../assets/styles/breakpoints' as *;

// .wrapper{
// 	   padding-left: 32px;
// }

.list{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 32px;
	max-width: fit-content;

	@media (max-width: $tablet) {
		grid-template-columns: repeat(2, 1fr);
		max-width: 100%;
	}

	@media (max-width: $mobile) {
		grid-template-columns: 1fr;
		max-width: 100%;
		gap: 16px;
	}
}

.title{
	margin: 20px 0;
}